<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>项目名 - 公司名</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/msg/msg_demand.css">
</head>
<body>
    <header class="tab_box">
        <ul class="tab_bar">
            <li class="tab_bar-cell">消息</li>
            <li class="tab_bar-cell">通知</li>
            <li class="tab_bar-cell active">需求</li>
        </ul>
    </header>
    <article class="demand_cells">
        <section class="demand_cell">
            <header class="demand-title"><span class="d-t-name">一个租房要求</span><i class="d-t-tag">租户</i></header>
            <p class="demand-info">一个租房要求一个租房要求一个租房要求一个租房要求一个租房要求一个租房要求</p>
            <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
        </section>
    </article>
</body>
</html>